body{
	font-family: consolas;
	width: 1500px;
}
#icon{
	margin-right: 10px;
}

#title{
	height: 50px;
}

#scene_input{
	height: 400px;
}
#scene_img{
	border: 3px solid black;
	float: left;
}

.rectangle{
	border: 2px solid #0000FF;
    position: absolute;
	opacity: 0.3;
	background-color: #0000FF;
}

#forms {
	float:left;
}

#add_schema {
	margin-left: 10px;
	float: left;
}

#add_subscene {
	margin-left: 10px;
	float: right;
}

fieldset{
	width: 400px;
}

label.field{
	text-align: right;
	float: left;
	font-weight: bold;
	margin-left: 10px;
}

legend{
	font-weight: bold;
}

fieldset div{
	clear: both;
	padding: 5px;
	float: left;
}

fieldset div.area{
	width: 400px;
}

fieldset input[type="text"]{
	width: 300px;
	float: left;
	margin-left: 10px;
}

select{
	width: 300px;
	float: left;
	margin-left: 10px;
}

fieldset input[type="text"].num_val{
	width: 30px;
}

fieldset textarea{
	width: 300px;
	float: left;
	margin-left: 10px;
}

#scene_content{
	clear:both;
	border: 10px;
	margin-left: 10px;
	margin-top: 10px;
	height:200px;
}

.section_title{
	font-weight: bold;
	font-size: 12pt;
}

#defined_schemas{
	float:left;
	width: 400px;
}
#defined_subscenes{
	float:left;
	width: 400px;
}
.save-reset{
	clear:both;
	margin: 20px;
}

.schema{
	margin: 20px;
	font-size:10pt;
	background-color: #9090EE;
}

.highlight_reg{
	margin: 20px;
	font-size:10pt;
	background-color: #5050EE;
}

.schema_name{
	font-weight: bold;
}

.schema_details{
	margin-left: 10px;	
}

.schema_data{
	margin-left: 10px;
	background-color: #DDDDFF;
}

.mask{
	position: absolute;
	background-color: blue;
	opacity: 0.2;
	border-radius: 100px;
}

.highlight_mask{
	position: absolute;
	background-color:  blue;
	opacity: 0.4;
	border-radius: 100px;
}